[build-system]
requires = ["setuptools>=61.0"]
build-backend = "setuptools.build_meta"


[project]
name = "pydaraja"
version = "0.1.2"
authors = [
  { name="Raymond Kipkorir", email="raykipkorir02@gmail.com" },
]
description = "Python wrapper for Mpesa Daraja API"
readme = "README.md"
requires-python = ">=3.10"
classifiers = [
    "Programming Language :: Python :: 3",
    "License :: OSI Approved :: MIT License",
    "Operating System :: OS Independent",
]
dependencies = [
    "requests>=2.31.0"
]


[project.urls]
"Homepage" = "https://github.com/raykipkorir/pydaraja"
"Bug Tracker" = "https://github.com/raykipkorir/pydaraja/issues"
